amqp==5.2.0
annotated-types==0.6.0
anyio==4.3.0
billiard==4.2.0
build==1.0.3
celery==5.3.6
cfgv==3.4.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
distlib==0.3.8
dnspython==2.6.1
fastapi==0.109.2
filelock==3.13.1
h11==0.14.0
identify==2.5.35
idna==3.6
kombu==5.3.5
motor==3.3.2
nodeenv==1.8.0
packaging==23.2
pip-tools==7.4.0
platformdirs==4.2.0
pre-commit==3.6.2
prompt-toolkit==3.0.43
pydantic==2.6.2
pydantic-settings==2.2.1
pydantic_core==2.16.3
pymongo==4.6.2
pyproject_hooks==1.0.0
python-dateutil==2.8.2
python-dotenv==1.0.1
PyYAML==6.0.1
redis==5.0.1
setuptools==69.1.1
six==1.16.0
sniffio==1.3.0
starlette==0.36.3
typing_extensions==4.9.0
tzdata==2024.1
uvicorn==0.27.1
vine==5.1.0
virtualenv==20.25.1
wcwidth==0.2.13
wheel==0.42.0
ipython==8.22.1
