{% extends 'base.html' %}
{% block title %}
    List of your flashcards
{% endblock %}
{% block content %}

    {% if object_list %}
        <p>Your flashcards:</p>
        {% for flashcard in object_list %}
        <table>
            <tr>
                <th>Id</th>
                <th>Category</th>
                <th>Title</th>
                <th>Content</th>
                <th>Known</th>
            </tr>
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ flashcard.category }}</td>
                <td>{{ flashcard.title }}</td>
                <td>{{ flashcard.content }}</td>
                <td>{{ flashcard.known }}</td>
            </tr>
        </table>
        {% endfor %}
    {% else %}
        <p>Yoy don't have any flashcards in this category. Go <a href="{% url 'flashcard_create' %}">create</a> some</p>
        <p>.. or simply <a href="#">upload</a> some documents.</p>
    {% endif %}
{% endblock %}