{% extends 'base.html' %}
{% block title %}
    About
{% endblock %}
{% block content %}
<h3>This is a Word Parser App.</h3>

<p>App created for students to make learning great again.</p>
<p>How to use that web app:</p>
<ul>
    <li>Register & login in website,</li>
    <li>Get the .docx (Microsoft Word) document with material you want to learn,</li>
    <li>Make sure that your document fits into requirements (below),</li>
    <li>Upload the document into the parser,</li>
    <li>Get your flashcards and start learning!</li>
</ul>

<p>Requirements of document to correct upload:</p>
<p>Fonts:</p>
<ul>
    <li>Category: Title font,</li>
    <li>Title: Heading 1 font</li>
    <li>Content: Normal font</li>
</ul>
<p>Other:</p>
<ul>
    <li>Document should contain only one category,</li>
    <li>Content of the flashcard have to be unique,</li>
</ul>

<p><b>Warning!</b> If your document won't fit those requirements, parser will raise errors, and upload won't be done.</p>

<p>You can also say hi to us on LinkedIn:</p>
<ul>
    <li><a href="https://www.linkedin.com/in/adamczyk-dawid/">Dawid Adamczyk</a></li>
    <li><a href="https://www.linkedin.com/in/wojciech-ziarnik-23ba971a1/">Wojciech Ziarnik</a></li>
</ul>
{% endblock %}
