{% extends 'base.html' %}
{% block title %}
Upload and parse the document!
{% endblock %}
{% block content %}

<p>Requirements of document to upload correctly:</p>
<p>Fonts:</p>
<ul>
    <li>Category: Title font,</li>
    <li>Title: Heading 1 font</li>
    <li>Content: Normal font</li>
</ul>
<p>Other:</p>
<ul>
    <li>Document should contain only one category</li>
    <li>Remember - use only fonts that fits into requirements</li>
</ul>

<p><b>Warning!</b> If your document won't fit those requirements, parser will raise errors, and upload won't be done.</p>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
</form>
{% endblock %}